<h2>$i18n.getText("report.reopenrate.label")</h2>
</br>
#if($filterInfo.filterType=="project")
    $i18n.getText("common.concepts.project"): <a href="IssueNavigator.jspa?jqlQuery=project=$filterInfo.filterId.toString()">$filterInfo.filterName</a>
#else
    $i18n.getText("common.concepts.filters"): <a href="${requestContext.baseUrl}/issues/?filter=$filterInfo.filterId.toString()"">$filterInfo.filterName</a>
#end
<p>$i18n.getText("status.report.extract.info",$authcontext.loggedInUser.displayName,$extractedDate)</p>
</br>
    <table id="reopen-rate-report" class="aui aui-table aui-table-sortable">

                	<thead>
                    	<tr>
                			<th >$i18n.getText("report.reopenrate.header.username")</th>
                			<th >$i18n.getText("report.reopenrate.header.reopenrate")</th>
                			<th >$i18n.getText("report.reopenrate.header.reopencount")</th>
                			<th >$i18n.getText("report.reopenrate.header.resolvedcount")</th>
                			<th >$i18n.getText("report.reopenrate.header.issuecount")</th>
                		</tr>
                    </thead>
					<tbody>
						#foreach ($item in $reopenRateList)
                    		<tr>
                    			<td width="20%"> ${item.user.displayName} </td>
                    			#set( $rate = $item.getReopenCount()*100/$item.getResovledCount())
                    			<td width="20%">$rate</td>
                    			<td width="20%">$item.getReopenCount()</td>
                    			<td width="20%">$item.getResovledCount()</td>
                    			<td width="20%">$item.getIssueCount()</td>
                    		</tr>
						#end
					</tbody>
				</table>
<script type="text/javascript">
   AJS.$('#reopen-rate-report').bdt();
   AJS.$("#linePerPage").auiSelect2()
</script>