<h2>$i18n.getText("report.usertimespent.label")</h2>
</br>
#if($filterInfo.filterType=="project")
    $i18n.getText("common.concepts.project"): $filterInfo.filterName
#else
    $i18n.getText("common.concepts.filters"): $filterInfo.filterName
#end

<p>$i18n.getText("status.report.extract.info",$authcontext.loggedInUser.displayName,$extractedDate)</p>

<table width="100%" border="1">
	<tr>
		<th align="left" width="25%">$i18n.getText('report.usertimespent.header.username')</th>
		<th align="left" width="25%">$i18n.getText('report.usertimespent.header.issuecount')</th>
		<th align="left" width="25%">$i18n.getText('report.usertimespent.excel.header.timespent')</th>
		<th align="left" width="25%">$i18n.getText('report.usertimespent.excel.header.timespentaverage')</th>
	</tr>
	#foreach ($item in $userTimeSpentList)
		<tr>
			<td align="left" width="25%">$item.getUserName()</td>
			<td align="left" width="25%">$item.getIssueCount()</td>
			<td align="left" width="25%">$item.getTimeSpentByHours()</td>
			<td align="left" width="25%">$item.getAverageByHours()</td>
		</tr>
	#end
</table>