<h2>$i18n.getText('report.versiontimespent.label')</h2>
			$i18n.getText('report.unlimax.project'): $projectName
			<p>$i18n.getText("status.report.extract.info",$authcontext.loggedInUser.displayName,$extractedDate)</p>
					<table class="aui">
						<thead>
							<tr>
                    			<th >$i18n.getText("report.versiontimespent.header.version")</th>
                    			<th >$i18n.getText("report.versiontimespent.header.issuecount")</th>
                    			<th >$i18n.getText("report.versiontimespent.header.timespent")</th>
                    			<th >$i18n.getText("report.versiontimespent.header.timespentaverage")</th>
							</tr>
						</thead>
						<tbody>
                        	#foreach ($item in $versionTimeSpentList)
                        		<tr>
                        			<td width="25%"><a href="../browse/$projectKey/fixforversion/$item.getVersion().getId()">$item.getVersion().getName()</a></td>
                        			<td width="25%">$item.getIssueCount()</td>
                        			<td width="25%">$util.getDurationString($item.getTimeSpentBySeconds())</td>
                        			<td width="25%">
										#if ($item.getIssueCount()==0)
											0
										#else 
											$util.getDurationString($item.getAverageBySeconds())
										#end
									</td>
                        		</tr>
                        	#end
    				</tbody>
    			</table>
